<extend name="Common:main-page" />

<block name="page-meta">
<title>快捷方法{$Think.ACTION_NAME}</title>
<meta name="keywords" content="" />
<meta name="description" content=""/>
</block>


<block name="page-header">
</block>

<block name="page-breadcrumb">
<li class="active">{$Think.ACTION_NAME}</li>
</block>


<block name="page-search"></block>
<block name="page-navigation"></block>
<block name="page-settings-container"></block>


<block name="page-content">
    <div class="row">
    	<div class="col-xs-12" style="height:600px;">__SELF__</div>
    	<!-- /.col -->
    </div><!-- /.row -->
</block>

<block name="page-footer">


</block>